# Database URL for Hostinger Remote MySQL
DATABASE_URL="mysql://u870345634_asutosh:Austosh%4012%23aero@srv1328.hstgr.io:3306/u870345634_Aerospark"

# JWT Secret Key for Session Authentication (Minimum 32 characters recommended)
JWT_SECRET="YOUR_RANDOM_LONG_SECURE_JWT_SECRET_STRING_32_CHARS"

# Gmail SMTP Configuration for sending Verification Codes
GMAIL_USER="dvparekh71@gmail.com"
GMAIL_APP_PASSWORD="hvtp aeki boro ucos" # Obtain from Google Account -> Security -> App passwords
